* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1e9f0;
  margin: 0%;
  padding: 0%;
}

li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  display: block;
  padding: 10px;
}

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 2rem;
}

p {
  padding: 0%;
  margin: 0%;
}

.header {
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_upper_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header_upper_part_logo_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.header_upper_part_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.header_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0%;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mansalva", cursive;
  font-size: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.4))), url("../../img/teddy_5.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4)), url("../../img/teddy_5.jpg");
  background-position: bottom;
  background-attachment: fixed;
  text-shadow: 0px 5px 10px #888484;
}

.header_title_font {
  padding: 0%;
  margin: 0%;
}

.site_description {
  font-size: 2rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.main {
  margin: 0%;
  margin: 0%;
  width: 100%;
}

.main_products {
  width: 100%;
}

.main_products_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_products_title {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: bold;
}

.main_products_results {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_products_results_generic {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px #888484;
          box-shadow: 0px 5px 10px #888484;
  width: 95%;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.line {
  margin: auto;
  height: 1px;
  width: 300px;
  background-color: black;
}

.results_pics {
  margin: 0%;
  padding: 0%;
  height: 200px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results_pics_size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  -o-object-position: center;
     object-position: center;
}

.results_descriptions_title {
  font-size: 2rem;
  font-family: "Mansalva", cursive;
  padding: 0%;
  margin: 10px;
  margin-left: 0;
}

.results_descriptions_text {
  font-family: "Source Sans Pro", sans-serif;
}

.results_descriptions_text_price {
  color: #566f34;
  font-weight: bold;
  font-size: 2rem;
  margin: 10px;
  margin-left: 0;
}

.results_availability {
  background-color: #a3c17b;
  height: 30px;
  padding: 5px;
  margin: 5px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
}

.main_teddy_bear_result {
  background-color: #FFF;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */