.arrangement_basket_page {
    @include direction_row;
    justify-content: space-around;
    margin-bottom: nth($pixel_size, 3);
}

.information {
    @include no_margin;
    @include no_padding;
    width: 70%;
    font-family: $font_family_texte;
    &_title {
        margin: nth($pixel_size, 1);
        font-family: $font_family_title;
        margin-bottom: nth($pixel_size, 2);
    }
    &_section {
        margin-top: nth($pixel_size, 2);
        margin-bottom: nth($pixel_size, 2);
        @include direction_row
    }
}

.summary {
    @include direction_column;
    align-items: center;
    padding: nth($pixel_size, 2);
    width: 25%;
    background-color: map-get($colors, background_color2);
    font-family: $font_family_texte;
    &_title {
        width: 90%;
    }
    &_line {
        margin: auto;
        height: nth($pixel_size, 1)/10;
        width: 90%;
        background-color: black;
    }
    &_detail {
        width: 90%;
        &_box {
            border-bottom: 1px gray dashed;
            padding: nth($pixel_size, 2);
            &_articles {
                color: map-get($colors, third_color);
            }
            &_price {
                color: black;
                font-weight: bold;
            }
        }
        &_validation {
            @include width_100;
            display: flex;
            justify-content: center;
            &_btn {
                background: linear-gradient(0.9turn, map-get($colors, primary_color), map-get($colors, secondary_color));
                box-shadow: $shadow;
                height: nth($pixel_size, 4);
                width: 90%;
                margin-top: nth($pixel_size, 5);
                margin-bottom: nth($pixel_size, 5);
                color: #fff;
                right: nth($pixel_size, 1);
                top: nth($pixel_size, 1);
                border-radius: 20px;
                border: none;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

.input_space_adaptation {
    display: flex;
    flex: 1;
}

.label_client_form {
    margin-right: nth($pixel_size, 1);
    margin-left: nth($pixel_size, 1);
}